@page "/"
<PageTitle>Index</PageTitle>


<div class="h3 mb-4 text-center">
    <b>
        Model - Davinci
    </b>
    <h4 style="text-align:center"><b>OpenAI Chat API</b></h4>
</div>
<div style="line-height:40px;" class="h4 mb-4 text-center">
    You can search anything! - FYI, training data cuts off in 2021
</div>

<div class="form-group text-center">
    <input class="form-control my-4 text-center py-2 m-auto" style="max-width:600px;" type="text" @bind="@message" placeholder="Type your message here" />
    <button class="btn btn-success mb-4 px-2" style="max-width:200px;" onclick="@GetResponseFromGPT3">SUBMIT</button>
</div>
<div class="d-flex justify-content-center text-center">
    <div style="min-width:600px; min-height:260px; max-width:700px;" class="mt-2container border border-1 rounded-2 p-3 text-center">@generatedText</div>
</div>

@code {

    public string? message { get; set; }
    public string generatedText { get; set; } = "Answer will display here";
    string apiKey = "";
    string answer = string.Empty;
    CompletionRequest completion = new CompletionRequest();
    string response = "";

    private async Task GetResponseFromGPT3()
    {
        var openai = new OpenAIAPI(apiKey);

        generatedText = "Thinking...";

        completion.Prompt = message;
        completion.Model = OpenAI_API.Models.Model.DavinciText;
        completion.MaxTokens = 1000;

        var completionResult = await openai.Completions.CreateCompletionAsync(completion);

        if (completionResult.Completions != null)
        {
            foreach (var item in completionResult.Completions)
            {
                GPT3Response.Response = item.Text;
            }
            generatedText = GPT3Response.Response;
        }
        else
        {
            if (completionResult.Completions == null)
            {
                generatedText = "Unknow Error";
            }
        }
    }

    public static class GPT3Response
    {
        public static string Response { get; set; }
    }
}